<a href="/">
  <img src="/themes/custom/drupalcampfr_theme/assets/images/drupalfr_banner.jpg"
       class="center-block img-responsive"
       title="{{ 'Bannière Drupal France'|t }}"
       alt="{{ 'Logo Drupal France'|t }}"
  >
</a>
