
/**
 * As the field is wrapped in a div, CSS overrides of the bootstrap theme has a
 * p:last-child selector which set margin-bottom to 0.
 */
article.news.teaser .field--type-text-with-summary {
  margin-bottom: 10px;
}

/**
 * Avoid white space between page content and navbar.
 */
.main-container {
  margin-top: -15px;
}

/**
 * Banner block.
 */
.region-header #block-bannerblock:not(:last-child) {
  margin-bottom: 10px;
}

/* TODO: Better place for that? */
.sponsor-view .view-content .views-row {
  margin-bottom: 5px;
}

/* TODO: Better place for that? */
/**********
 * Session.
 **********/
.session.full .row.well {
  margin-left: 0;
  margin-right: 0;
}
/**
 * Session: speaker field.
 */
.field--name-field-session-speaker .field--item {
  display: inline;
}
.field--name-field-session-speaker .field--item:not(:last-child)::after {
  content: ",";
}
/**
 * Session: day, start date and end date fields.
 */
.field--name-field-session-date-start,
.field--name-field-session-date-start .field--item,
.field--name-field-session-date-end {
  display: inline;
}

.region-navigation-collapsible .navbar-nav.navbar-right {
  margin-right: 0;
}
