<a href="/">
  <img src="/themes/custom/nantes2016/assets/images/banner.jpg"
       class="center-block img-responsive"
       title="{{ 'Site dédié au Drupalcamp Nantes du 10 au 12 juin 2016'|t }}"
       alt="{{ 'Bannière Drupalcamp Nantes 2016'|t }}"
  >
</a>
