<a href="/">
  <img src="{{ blazy_placeholder }}"
       data-src="/{{ directory }}/assets/images/drupalfr_banner.jpg"
       class="center-block img-responsive b-lazy"
       title="{{ 'Drupal France banner'|t }}"
       alt="{{ 'Drupal France logo'|t }}"
  >
</a>
