/***************
**** Tablette  *
****************/
@media screen and (max-width: 1090px) {
	#block-bzh-theme-banner{
		margin-bottom: 60px;
	}
}
	
/*******************
***** MOBILE********
*******************/
@media screen and (max-width: 768px) {
	#block-bzh-theme-banner{
		margin-bottom: 80px;
	}
	#block-bzh-theme-banner .texte{
		top:42%;
	}
}
