/**front**/
.path-frontpage .container {
  width: 100%;
  overflow: hidden;
}
.path-frontpage h1 {
  visibility: hidden;
}
.path-frontpage .main-container,
.path-frontpage .main-container .row,
.path-frontpage .main-container .row .col-sm-12 {
  margin: 0 auto;
  padding: 0;
  float: none;
}
.path-frontpage .col-sm-12 {
  padding: 0;
}

/**NL**/
#block-bzh-theme-newsletter-subscription {
  margin: 0 auto 50px auto;
  width: 80%;
}
#block-bzh-theme-newsletter-subscription h3 {
  font-size: 14px;
  text-align: center;
}
#block-bzh-theme-newsletter-subscription .btn-success {
  background-color: #699cb6;
  border-color: #699cb6;
}
#block-bzh-theme-newsletter-subscription p.info {
  font-style: italic;
  font-size: 11px;
  padding: 50px 0 10px 0;
}

/**
 * Banner block.
 */
#block-bzh-theme-banner .texte {
  position: absolute;
  top: 30%;
  margin: 0 auto;
  width: 87%;
}
#block-bzh-theme-banner .background {
  position: relative;
}
#block-bzh-theme-banner {
  position: relative;
}
#block-bzh-theme-banner h2 {
  text-align: right;
}
