/*************************
*********HOMEPAGE*********
**************************/

/**bloc NL**/
#block-bzh-theme-newsletter-subscription p.info {
  font-style: italic;
  font-size: 11px;
  padding: 50px 0 10px 0;
}

/**
* SPonsor sidebar
**/
.sponsor-view .view-content .views-row {
	margin:35px 0;
}
/**********************************
******* pages de contenu***********
**********************************/
.path-node h1{
	margin:25px 0;
}
.path-node .field--name-body{
	padding:20px;
	margin-bottom:40px;
}
.path-node .field--name-body h2{
	font-size:23px;
}
.path-node .field--name-body h3{
	font-size:20px;
}
/*** sidebar sponsor**/
#block-bzh-theme-sitewide-sponsor h2{
	font-size:18px;
}
#block-bzh-theme-sitewide-sponsor h3{
	text-align:right;
	border-bottom:1px solid #ddd;
	font-size:16px;
	
}
/**********************************
**** devenir sponsor*******
**********************************/
.path-contact h1{
	margin:25px 0;
}
#block-bzh-theme-newsletter-subscription{
	margin-bottom:40px;
}
/**********************************
**** contact form*******
**********************************/
. path-contact .region-content-bottom{
	overflow:hidden;
}
.path-contact .col-sm-3{
	display:none;
}
/**********************************
**** style spécifique / node*******
**********************************/
#sponsor-grid th,
#sponsor-grid td{
	padding:5px;
}
#sponsor-grid thead th{
	background-color:#ddd;
}
#sponsor-grid tr th{
	padding-left:10px;
}
#sponsor-grid td{
	text-align:center;
}