/*************************
*********HOMEPAGE*********
**************************/

/**bloc NL**/
#block-bzh-theme-newsletter-subscription p.info {
  font-style: italic;
  font-size: 11px;
  padding: 50px 0 10px 0;
}

/**
* SPonsor sidebar
**/
.sponsor-view .view-content .views-row {
	margin:35px 0;
}
/**********************************
******* pages de contenu***********
**********************************/
.path-node h1{
	margin:25px 0;
}
.path-node .field--name-body{
	padding:20px;
	margin-bottom:40px;
}
.path-node .field--name-body h2{
	font-size:23px;
}
.path-node .field--name-body h3{
	font-size:18px;
	color:#61798b;
}
.path-node .field--name-body ul{
	margin-left:40px;	
}
.path-node .field--name-body ul.tickets{
  margin-left:0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.path-node .field--name-body ul.tickets li{
  flex: 1 1 auto;
}
/*** sidebar sponsor**/
#block-bzh-theme-sitewide-sponsor h2{
	font-size:18px;
}
#block-bzh-theme-sitewide-sponsor h3{
	text-align:right;
	border-bottom:1px solid #ddd;
	font-size:16px;	
}
/***************************
**** tableau programme******
***************************/
.path-node .programme-sessions{
	margin:40px 0;	
}
.path-node .programme-sessions tr{}
.path-node .programme-sessions th{
	min-width:100px;
	text-align:center;
}
.path-node .programme-sessions td{
	padding:3px;
}
/**********************************
**** devenir sponsor*******
**********************************/
.path-contact h1{
	margin:25px 0;
}
#block-bzh-theme-newsletter-subscription{
	margin-bottom:40px;
}
/**********************************
**** contact form*******
**********************************/
.path-contact .region-content-bottom{
	overflow:hidden;
}
.path-contact .col-sm-3{
	display:none;
}

/**********************************
**** pages de listes *******
**********************************/
.path-sponsors .view-id-sponsor,
.path-actualites .view-display-id-page_news,
.path-communaute .view-id-user,
.path-programme .view-id-session,
.path-user,
#node-session-form{
	width:90%;
	margin:0 auto 50px auto;	
}

.path-actualites .view-display-id-page_news article{
	border-bottom: 1px solid #ddd;
	padding-top:20px;	
}
.path-actualites .view-display-id-page_news footer{
    padding: 0 0 25px 0;
    text-align: left;	
}
.path-programme .view-id-session .view-filters{
    margin: 10px 0 50px 0;	
}
#block-bzh-theme-help {
	padding: 0;
}
/**********************************
**** style spécifique / node*******
**********************************/
#sponsor-grid th,
#sponsor-grid td{
	padding:5px;
}
#sponsor-grid thead th{
	background-color:#ddd;
}
#sponsor-grid tr th{
	padding-left:10px;
}
#sponsor-grid td{
	text-align:center;
}