<a href="/">
  <img src="/themes/custom/drupalcampfr_theme/assets/images/drupalfr_banner.jpg"
       class="center-block img-responsive"
       title="{{ 'Drupal France banner'|t }}"
       alt="{{ 'Drupal France logo'|t }}"
  >
</a>
