{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}
{% if title %}
<header class="partnership">
    <div class="container-fluid row">
        <div class="intro-text">
            <div class="text-center">
                <h1{{ title_attributes.addClass('section-heading') }}>{{ title }}</h1>
                {% if intro %}
                    <div class="lead text-center">
                        {{ intro|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endif %}
