<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">&agrave; propos</h2>
        <h3 class="section-subheading text-muted">
          Une touche de Bretagne dans un monde de Drupal
        </h3>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <div class="lead text-center">
          Le drupalcamp est proposé par l'association
          <a href="https://www.drupal.fr">
            Drupal France et francophonie</a>.
          Cette année encore, il se déroulera sur 3 jours, du <strong>27 au 29
            octobre
            2017, à Lannion (22)</strong>.<br>
          <br>
          Nous reviendrons régulièrement mettre à jour ce site présentant
          l'évènement.
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-lg-8">
        <h3>Où se déroule le drupalcamp ?</h3>
        <p class="lead">
          Nous passerons ces trois jours de rencontre à l'Espace Ste Anne, à
          Lannion. Nous sommes donc à 5 minutes à pied de la gare, du centre
          ville et d'hôtels.
        </p>
        <p>
          Pour se rendre à Lannion, nous vous conseillons de prendre le train.
        </p>
      </div>
      <div class="col-lg-3 col-lg-offset-1">
        <img src="/profiles/drupalcampfr/themes/bzh_theme/assets/images/visuels/LannionByNight_square.jpg"
             class="img-responsive img-circle"
             alt="Lannion by night">
      </div>
      <div class="col-lg-6">
        <dl>
          <dt>
            Depuis <strong>Paris</strong> :
          </dt>
          <dl>
            <u>Ligne Paris-Brest</u> : changement possible à Saint-Brieuc,
            Guingamp, Rennes ou Plouaret-Trégor<br>
            <strong>Durée :</strong> 3h20
          </dl>
        </dl>
      </div>
      <div class="col-lg-6">
        <dl>
          <dt>
            Depuis <strong>le Sud de la France</strong> :
          </dt>
          <dl>
            <ul>
              <li>
                Regardez les vols jusqu'à Rennes, depuis Rennes un train vous
                dépose à Lannion en 1h30
              </li>
              <li>
                Regardez aussi les vols jusqu'à Brest, depuis Brest un train
                vous dépose à Lannion en 1h20
              </li>
            </ul>
          </dl>
        </dl>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img src="/profiles/drupalcampfr/themes/bzh_theme/assets/images/visuels/LannionHouses_square.jpg"
             class="img-responsive img-circle"
             alt="Centre ville de Lannion">
      </div>
      <div class="col-lg-8 col-lg-offset-1">
        <h3>Quand se déroule le drupalcamp ?</h3>
        <p class="lead">
          Le drupalcamp se déroule du <strong>27 au 29 octobre</strong>, du
          vendredi au dimanche,
          pendant les vacances de la Toussaint.
        </p>
        <p>
          Comme il n'est pas toujours facile de se décider à partir en vacances,
          nous vous donnons un coup de pouce, une fois arrivé au (presque) bout
          du monde, il serait dommage de ne pas profiter des richesses
          régionales :)
        </p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <h3>
          Quoi faire avant/après le drupalcamp ?
        </h3>
        <p class="lead">
          Il y a plus d'une façon de profiter de la région avant ou après le
          drupalcamp.
        </p>
      </div>
      <div class="col-md-8">
        <ul>
          <li>la Base Sport Nature de Lannion propose bien des activités sur
            Lannion et autour
          </li>
          <li>ne manquez pas de marcher le long du sentier des douaniers sur
            la très belle côte de granit rose
          </li>
          <li>prenez un bol d'air frais vers les 7 îles</li>
          <li> à peine plus loin, les jardins du chateau de la Roche Jagu
            s'ouvrent à vous
          </li>
          <li>partez à la recherche d'Idefix, dans le village gaulois de
            Pleumeur Bodou
          </li>
          <li>après le retour de Thomas Pesquet, rien de tel qu'une visite de
            l'espace à la Cité des télécoms
          </li>
          <li>profiter du marché du jeudi à Lannion, puis gravir les marches
            de Brelevenez comme Martine les a descendu jadis.
          </li>
          <li> le bout du monde n'est pas si loin, et si vous poussiez jusqu'à
            Brest ?
          </li>
          <li>...</li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <img src="/profiles/drupalcampfr/themes/bzh_theme/assets/images/visuels/SeaShore_square.jpg"
             class="img-responsive img-circle"
             alt="Promenandes">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Comment s'inscrire au drupalcamp ?</h3>
        <p class="lead">
          Les réservations ne sont pas encore ouvertes.
        </p>
        <p>
          Mais comme tous les ans, les pré-inscriptions vous garantissent un
          accès à l'événement avec vos repas prévus ainsi qu'un sac d'accueil
          gorgé de goodies !
        </p>
      </div>

      <div class="col-md-6">
        <h3>Et pourquoi un macareux moine ?</h3>
        <p class="lead">
          Si vous suivez le compte twitter
          <a href="https://twitter.com/drupalcampfr">@drupalcampfr</a> , vous
          avez sans doute rencontré un petit macareux.
        </p>
        <p>
          <a
                  href="http://bretagne-biodiversite.org/juin/le-macareux-moine.html">
            Un peu plus d'infos
          </a>
          sur le pourquoi du comment.<br>
          <em>(Merci Edouard pour le lien)</em><br>
          Elle est pas mignonne notre mascotte ?
        </p>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <br>
        <img class="img-responsive" style="width: 100%"
             src="/profiles/drupalcampfr/themes/bzh_theme/assets/images/visuels/labasmini.png">
      </div>
    </div>
  </div>

</section>

<!-- Program Section -->
<!--<section>
  <div class="homepage-program">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Programme</h2>
          <h3 class="section-subheading text-muted">
            Que va-t-il se passer durant ces 3 jours ?
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Vendredi</h4>
          <p>
            Blah balah blah
          </p>
        </div>
      </div>
    </div>
  </div>
</section>-->