<header class="homepage">
  <div class="container-fluid row">
    <div class="intro-text">
      <div class="text-center">
        <img src="/profiles/drupalcampfr/themes/bzh_theme/assets/images/drupalicon--homepage.png"
             class="center-block img-responsive"
             title="{{ 'Drupalcamp Lannion, 27-29 oct. 2017'|t }}"
             alt="{{ 'Drupalcamp Lannion, 27-29 oct. 2017'|t }}"
        >
      </div>
    </div>
  </div>
</header>