<p class="background">
  <img src="/profiles/drupalcampfr/themes/bzh_theme/assets/images/camp-banner.png"
       class="center-block img-responsive"
       title="{{ 'Drupalcamp Lannion, 27-29 oct. 2017'|t }}"
       alt="{{ 'Vue sur la côte de granit rose'|t }}"
  >
</p>
<div class="texte">
	<h1>Drupalcamp Lannion, un peu de Bretagne dans un monde de Drupal</h1>
	<h2>27-29 octobre 2017</br>Espace Ste Anne, Lannion</h2>
</div>