{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
<div class="col-lg-12 text-center">
  <h1>Qu'est-ce qu'un Drupalcamp ?</h1>
  <p class="lead">
    Trois jours de conférences, sprints, rencontres et discussions
    autour du CMS Drupal.
  </p>
</div>
{%
set wrapper_classes = [
  'feature',
  'col-lg-4',
  'col-md-4',
  'col-sm-4',
  ]
%}
{%
set row_classes = [
  default_row_class ? 'views-row',
  'text-center',
  ]
%}

{% for row in rows %}
  <div {{ attributes.addClass(wrapper_classes) }}>
    <div{{ (row).attributes.addClass(row_classes) }}>
      {{ (row).content }}
    </div>
  </div>
{% endfor %}
