
<!-- REGISTER -->
<section id="register">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h2 class="uppercase text-center">Billeterie</h2>
                <p class="lead text-center">
                </p>
            </div>

            <div class="col-lg-12">
                <!-- PRICE TABLES -->
                <div id="price-carousel">

                    <div class="price-table early-bird">
                        <div class="icon">
                            <i class="pe-5x pe-7s-wristwatch"></i>
                        </div>

                        <div class="table-header">
                            <h3>Pass 3J <small>Early Bird</small></h3>
                            <p class="price">50€ <s class="text-muted small">70€</s> </p>
                            <h4>Adhérent</h4>
                        </div>

                        <ul class="desc list-unstyled">
                            <li>Disponible jusqu'au 15/01</li>
                            <li>Pauses Café</li>
                            <li>2 Repas</li>
                            <li>2 Soirées communataires</li>
                        </ul>
                    </div>

                    <div class="price-table early-bird">
                        <div class="icon">
                            <i class="pe-5x pe-7s-wristwatch"></i>
                        </div>

                        <div class="table-header">
                            <h3>Pass 3J <small>Early Bird</small></h3>
                            <p class="price">60€ <s class="text-muted small">90€</s> </p>
                            <h4>Non Adhérent</h4>
                        </div>

                        <ul class="desc list-unstyled">
                            <li>Disponible jusqu'au 15/01</li>
                            <li>Pauses Café</li>
                            <li>2 Repas</li>
                            <li>2 Soirées communataires</li>
                        </ul>
                    </div>

                    <div class="price-table early-bird">
                        <div class="icon">
                            <i class="pe-5x pe-va pe-7s-wristwatch"></i>
                        </div>

                        <div class="table-header">
                            <h3>Journée <small>Early Bird</small></h3>
                            <p class="price">30€ <s class="text-muted small">40€</s></p>
                            <h4>Adhérent</h4>
                        </div>

                        <ul class="desc list-unstyled">
                            <li>Disponible jusqu'au 15/01</li>
                            <li>Pause Café</li>
                            <li>Déjeuner</li>
                            <li>Soirée communataire du jour</li>
                        </ul>
                    </div>

                    <div class="price-table early-bird">
                        <div class="icon">
                            <i class="pe-5x pe-7s-wristwatch"></i>
                        </div>

                        <div class="table-header">
                            <h3>Journée <small>Early Bird</small></h3>
                            <p class="price">35€ <s class="text-muted small">50€</s></p>
                            <h4>Non Adhérent</h4>
                        </div>

                        <ul class="desc list-unstyled">
                            <li>Disponible jusqu'au 15/01</li>
                            <li>Café</li>
                            <li>Repas</li>
                            <li>Soirée communataire du jour</li>
                        </ul>
                    </div>

                    <div class="price-table">
                        <div class="icon">
                            <i class="pe-5x pe-7s-drop"></i>
                        </div>

                        <div class="table-header">
                            <h3>Journée Sprint</h3>
                            <p class="price">5€ <span class="text-muted small"><small>Gratuit adhérents</small></span></p>
                        </div>

                        <ul class="desc list-unstyled">
                            <li>Mentoring</li>
                            <li>Peer coding</li>
                            <li>Contribution</li>
                            <li>Traduction</li>
                            <li>Pizzas</li>
                        </ul>
                    </div>



                </div>
            </div>

            <div class="col-lg-12 text-center">
                <a class="button button-small button-line-dark"
                   href="/billeterie">
                    S'inscrire
                </a>
            </div>

        </div>
    </div>
</section>
