<section id="venue">

    <div class="venue">
        <div class="venue-inner">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h2 class="uppercase">Le Lieu</h2>
                        <p class="lead"><strong>L'Espace Saint-Martin</strong><br>
                            Au centre de Paris, <br>
                            accessible facilement en métro depuis toutes les gares.
                        </p>
                        <img class="img-responsive" src="img/hotel-logo.png" alt="Espace Saint-Martin">
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-map-2"></i>
                        <h4 class="uppercase">Addresse</h4>
                        <p>199 bis, rue Saint-Martin 75003 Paris<br>
                            01 44 54 38 54<br>
                            Station Métro : Châtelet - Les Halles</p>

                        <a class="button button-xsmall button-line-light"
                           href="http://www.espacesaintmartin.com/images/contenus_pages/plan-acces-esm.pdf"
                           target="_blank">
                            Plan d'accès
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>