<section id="venue">

    <div class="venue">
        <div class="venue-inner">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h2 class="uppercase">Le Lieu</h2>
                        <p class="lead"><strong>L'Espace Saint-Martin</strong><br>
                            Au centre de Paris, <br>
                            accessible facilement en métro depuis toutes les gares.
                        </p>
                        <img class="img-responsive" src="img/hotel-logo.png" alt="Espace Saint-Martin">
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-map-2"></i>
                        <h4 class="uppercase">Addresse</h4>
                        <p>199 bis, rue Saint-Martin 75003 Paris<br>
                            01 44 54 38 54<br>
                            Station Métro : Châtelet - Les Halles</p>

                        <a class="button button-xsmall button-line-light"
                           href="http://www.espacesaintmartin.com/images/contenus_pages/plan-acces-esm.pdf"
                           target="_blank">
                            Plan d'accès
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3">
                <h3>Où dormir ?</h3>
                <p>Nombre de solutions d'hébergement sont disponibles aux alentours du site</p>
            </div>

            <div class="col-lg-9 col-md-9">

                <!-- hotel carousel -->
                <div id="hotel-carousel">
                    <div class="item">
                        <div class="hotel">
                            <img class="img-responsive" src="img/hotel-img1.png" alt="">

                            <div class="caption">
                                <h5 class="uppercase">Magna Resort</h5>
                                <span class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>

                                <p class="small">
                                    Pellentesque habitant morbi tristique et<br>
                                    netus et malesuada fames ac turpis egestas.
                                </p>
                                <a class="button button-xsmall button-line-dark" href="#">
                                    details
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="item">
                        <div class="hotel">
                            <img class="img-responsive" src="img/hotel-img2.png" alt="">

                            <div class="caption">
                                <h5 class="uppercase">Quisque Plaza</h5>
                                <span class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>

                                <p class="small">Proin nibh augue eget massa vel<br>semper imperdiet integer vitae orci mauris.</p>
                                <a class="button button-xsmall button-line-dark" href="#">details</a>
                            </div>

                        </div>
                    </div>

                    <div class="item">
                        <div class="hotel">
                            <img class="img-responsive" src="img/hotel-img3.png" alt="">

                            <div class="caption">
                                <h5 class="uppercase">convallis</h5>
                                <span class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>

                                <p class="small">Pellentesque habitant tristique senectus<br>et netus et malesuada fames ac turpis
                                    egestas.</p>
                                <a class="button button-xsmall button-line-dark" href="#">details</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>